# One-Hot Encoding for NCAA Women's Basketball Dataset

# Step 1: Import required libraries

In [2]:
import pandas as pd

# Step 2: Load the cleansed dataset

In [3]:
final_df = pd.read_csv('cleansed_ncaa_wbb_data.csv')

# Step 3: Identify categorical variables

In [4]:
categorical_columns = ['division', 'year_clean', 'state_grouped', 'position_grouped']

# Step 4: Apply One-Hot Encoding

In [5]:
encoded_df = pd.get_dummies(final_df, columns=categorical_columns, drop_first=True)

# Step 5: Save encoded dataset

In [6]:
encoded_df.to_csv('encoded_ncaa_wbb_data.csv', index=False)

In [7]:
print("Encoded dataset columns:")
print(encoded_df.columns)
print("\nEncoded dataset preview:")
print(encoded_df.head())

Encoded dataset columns:
Index(['total_inches', 'division_II', 'division_III', 'year_clean_freshman',
       'year_clean_graduate student', 'year_clean_junior', 'year_clean_senior',
       'year_clean_sixth year', 'year_clean_sophomore', 'state_grouped_ar',
       'state_grouped_az', 'state_grouped_ca', 'state_grouped_co',
       'state_grouped_ct', 'state_grouped_fl', 'state_grouped_ga',
       'state_grouped_ia', 'state_grouped_id', 'state_grouped_il',
       'state_grouped_in', 'state_grouped_international', 'state_grouped_ks',
       'state_grouped_ky', 'state_grouped_la', 'state_grouped_ma',
       'state_grouped_md', 'state_grouped_me', 'state_grouped_mi',
       'state_grouped_mn', 'state_grouped_mo', 'state_grouped_ms',
       'state_grouped_nc', 'state_grouped_ne', 'state_grouped_nh',
       'state_grouped_nj', 'state_grouped_ny', 'state_grouped_oh',
       'state_grouped_ok', 'state_grouped_or', 'state_grouped_other',
       'state_grouped_pa', 'state_grouped_sc', 'state_grouped_sd',
       'state_grouped_tn', 'state_grouped_tx', 'state_grouped_ut',
       'state_grouped_va', 'state_grouped_wa', 'state_grouped_wi',
       'state_grouped_wv', 'position_grouped_forward',
       'position_grouped_guard', 'position_grouped_other'],
      dtype='object')

Encoded dataset preview:
   total_inches  division_II  division_III  year_clean_freshman  \
0          63.0        False         False                 True
1          67.0        False         False                 True
2          68.0        False         False                False
3          67.0        False         False                False
4          67.0        False         False                False

   year_clean_graduate student  year_clean_junior  year_clean_senior  \
0                        False              False              False
1                        False              False              False
2                        False              False              False
3                        False               True              False
4                        False              False               True

   year_clean_sixth year  year_clean_sophomore  state_grouped_ar  ...  \
0                  False                 False             False  ...
1                  False                 False             False  ...
2                  False                  True             False  ...
3                  False                 False             False  ...
4                  False                 False             False  ...

   state_grouped_tn  state_grouped_tx  state_grouped_ut  state_grouped_va  \
0             False             False             False             False
1             False             False             False             False
2             False             False             False             False
3             False             False             False             False
4             False             False             False             False

   state_grouped_wa  state_grouped_wi  state_grouped_wv  \
0             False             False             False
1             False             False             False
2              True             False             False
3             False             False             False
4             False             False             False

   position_grouped_forward  position_grouped_guard  position_grouped_other
0                     False                    True                   False
1                     False                    True                   False
2                     False                    True                   False
3                     False                    True                   False
4                     False                    True                   False

[5 rows x 53 columns]